.header-style {
  /* margin: 0 20px 0 20px; */
  /* align-items: center; */
  margin: auto;
  width: 90%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.img-style {
  width: 140px;
  padding: 30px;
}

.image-div-style {
  width: 59%;
  margin: 30px auto;
}

.h1-style {
  
}
